@mixin cafi-cards {
    background-color: rgba($color: $black, $alpha: 0.05);
    border-radius: 10px;
    padding: 15px 15px;
    margin-bottom: 10px;
}

@mixin border($top, $right, $bottom, $left, $border-color: rgba(0, 0, 0, 0.5)) {
    border-top: $top solid $border-color;
    border-right: $right solid $border-color;
    border-bottom: $bottom solid $border-color;
    border-left: $left solid $border-color;
}