$pink: #FF045F;
$blue: #2454F8;
$yellow: #FFC100;
$white: #FFFFFF;
$black: #000000;
$black75 : #00000075;
$black50 : #00000050;
$black25 : #00000025;
$black10: #00000010;

// main colors variables
$primary : $pink;
$secondary: $blue;
$warning: $yellow;
