.cafi-home-header {
    background-color: $primary;
    position: sticky;
    top: 0;
    min-height: 55px;

    .cafi-header-wrapper,
    .cafi-notiNsearch,
    .bb-n-userInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cafi-header-wrapper {
        padding: 5px 0;

        .cafi-user-info {
            display: flex;
            align-items: center;

            .user-dp {
                background-color: $white;
                padding: 5px;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                margin-right: 15px;
            }

            .user-details {

                .welcome-note,
                .user-name {
                    color: $white;
                    line-height: 1;
                }

                .welcome-note {
                    font-size: 12px;
                }

                .user-name {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }

        .cafi-notiNsearch {
            i {
                color: $white;
                font-size: 24px;
            }

            .notification {
                position: relative;

                .notification-counts {
                    position: absolute;
                    top: 5px;
                    right: -10px;
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    background-color: $warning;
                    font-size: 10px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .cafi-header-searchbar {
            width: calc(100% - 110px);

            input {
                border: 0;
                box-shadow: none;
                background-color: rgba($color: $white, $alpha: 0.4);
                padding: 10px 15px;
                width: 100%;

                &::placeholder {
                    color: rgba($color: $white, $alpha: 0.8);
                    font-size: 18px;
                }

            }
        }

        &.backbtn-w-heading {
            justify-content: center;
            padding: 13px 0;

            .last-page {
                position: absolute;
                left: 15px;

                img {
                    max-width: 25px;
                }
            }

            .heading-title {
                color: $white;
                font-weight: 500;
            }

            &.chat-search {
                justify-content: space-between !important;

                a {
                    display: inline-block;
                    margin-right: 15px;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    i {
                        color: $white;
                        font-size: 20px;
                    }
                }
            }
        }

        &.active-chat-header {
            .ac-headerIcons {
                transform: scale(.7);
            }

            .bb-n-userInfo {
                .ac-userAvtar {
                    margin: 0 10px;

                    img {
                        height: 45px;
                        width: 45px;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                }

                .ac-userDetails {
                    .userName {
                        color: $white;
                        font-weight: 400;
                        font-size: 16px;
                    }

                    .active-status {
                        font-size: 12px;
                        color: $yellow;
                        position: relative;
                        padding-left: 10px;

                        &::after {
                            content: '';
                            height: 6px;
                            width: 6px;
                            border-radius: 50%;
                            background-color: $yellow;
                            position: absolute;
                            left: 0;
                            top: 34%;
                        }

                    }
                }
            }
        }
    }
}