.outer-container {
    height: 250px;
    width: 250px;
    background-color: #f5ccccd3;
    margin: 20px auto;

    .circle-1 {
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        border: 3px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;

        .circle-2 {
            background-color: #ffffff;
            height: calc(100% - 30px);
            width: calc(100% - 30px);
            border-radius: 100%;
            border: 1px solid gray;
            display: flex;
            align-items: center;
            justify-content: center;

            .circle-3 {
                background-color: #969696;
                height: calc(100% - 30px);
                width: calc(100% - 30px);
                border-radius: 100%;
                border: 1px solid gray;
                display: flex;
                align-items: center;
                justify-content: center;

                
            }

            
        }

    }
}