.cafi-password-created-page {
    padding: 30px 10px;

    .cafi-pc-content {
        display: flex;
        flex-direction: column;

        .top-content {
            height: calc(100dvh - 100px);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            img {
                margin-bottom: 25px;
            }

            h2{
                font-weight: 500;
            }
        }
    }
}